body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  letter-spacing: 0.2rem;
}

/* .product-detail-header 
  /* height: 600px; */
/* overflow-x: hidden; */

.navbar-brand img {
  width: 60px;
}
@media (min-width: 768px) {
  .navbar-brand img {
    width: 85px;
  }
}

.product-detail-header .main-navbar .navbar-menu a {
  font-size: 16px;
  font-weight: 700;
  color: #353c1d;
  /* transition: 0.15s; */
}
.product-detail-header .main-navbar .navbar-menu a:hover {
  color: #353c1d;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .product-detail-header .main-navbar .navbar-menu {
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: -300px;
    background-color: white;
    text-align: center;
    z-index: 999;
  }
  .product-detail-header .main-navbar .navbar-menu a {
    font-size: 36px;
    color: #353c1d;
    transition: 0.15s;
    font-weight: 500;
  }
}

.product-detail-header .main-navbar .navbar-icon a {
  transition: 0.15s;
}
.product-detail-header .navbar-icon .nav-item > a:hover {
  color: #353c1d;
}

.main-navbar .navbar-icon a img {
  width: 30px;
}
@media (min-width: 992px) {
  .main-navbar .navbar-icon a img {
    width: 20px;
  }
}

/*  */
.search-icon-input-wrap {
  width: 150px;
}
.search-icon-input-wrap input {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #353c1d;
  width: 100%;
  height: 100%;
  color: #353c1d;
  letter-spacing: 0.2rem;
  font-weight: 700;
}
.search-icon-input-wrap input:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #353c1d;
  outline: none;
}
.search-icon-input-wrap input:active {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #353c1d;
  outline: none;
}
/*  */

.profile-icon-wrap {
  display: none;
  width: 150px;
  transform: translateX(-60%);
  z-index: 888;
}
.profile-navbar-li:hover .profile-icon-wrap {
  display: block !important;
}
.main-navbar .navbar-icon .profile-icon-wrap:hover {
  display: block !important;
}

.main-navbar .navbar-icon .profile-icon-ul-wrap {
  background-color: white;
  border: 1px solid #353c1d;
  text-align: center;
}

.main-navbar .navbar-icon .profile-icon-ul-wrap::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: white;
  border-left: 1px solid #353c1d;
  border-top: 1px solid #353c1d;
  z-index: 999;
  position: absolute;
  transform: rotate(45deg);
  top: -8px;
  right: 23px;
}

.main-navbar .navbar-icon .profile-icon-ul a {
  color: black;
  font-size: 14px;
}

/*  */
.cart-icon-wrap {
  display: none;
  width: 270px;
  left: 0%;
  transform: translateX(-78%);
  /* top: 55px; */
  z-index: 888;
}
.cart-navbar-li:hover .cart-icon-wrap {
  display: block !important;
}
.main-navbar .navbar-icon .cart-icon-wrap:hover {
  display: block !important;
}

.main-navbar .navbar-icon .cart-icon-ul-wrap {
  background-color: white;
  border: 1px solid #353c1d;
  text-align: center;
}
.main-navbar .navbar-icon .cart-icon-ul-wrap::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: white;
  border-left: 1px solid #353c1d;
  border-top: 1px solid #353c1d;
  z-index: 999;
  position: absolute;
  transform: rotate(45deg);
  top: -8px;
  right: 23px;
}

.navbar-icon .cart-icon-ul .content-img img {
  width: 100% !important;
  height: 44px;
  object-fit: cover;
}

.navbar-icon .cart-icon-ul .content-word p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-navbar .navbar-icon .cart-icon-ul a {
  color: black;
  font-size: 14px;
}

.total-price-wrap p {
  font-size: 14px;
}
.checkout-btn-wrap a {
  border: 1px solid black;
}
.checkout-btn-wrap .see-cart-btn {
  transition: 0.15s;
  color: black;
}
.checkout-btn-wrap .see-cart-btn:hover {
  transform: scale(0.97);
}
.checkout-btn-wrap .go-check-btn {
  transition: 0.15s;
  color: white;
  background-color: black;
}

.checkout-btn-wrap .go-check-btn:hover {
  transform: scale(0.97);
}
/*  */

/*  */
/* .product-home-header .category-choose {
  margin-top: 200px;
}

.product-home-header .category-choose .category-choose-btn {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  transition: 0.15s;
  text-decoration: none;
  font-weight: 700;
}

.product-home-header .category-choose .category-choose-btn:hover {
  color: white;
  border: 1px solid rgba(255, 255, 255, 1);
}

.product-home-header .category-choose li a {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  transition: 0.15s;
  font-weight: 700;
}

.product-home-header .category-choose li a:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
} */
/*  */
.sign-up-modal,
.log-in-modal,
.certificate-modal,
.certificate-send-modal {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.sign-up-content,
.log-in-content,
.certificate-content,
.certificate-send-content {
  width: 500px;
}

.sign-up-content .content-top,
.log-in-content .content-top,
.certificate-content .content-top,
.certificate-send-content .content-top {
  background: white;

  height: 227px;
  width: 100%;
  background-image: url(../images/素材/物件素材/pngkey.com-vector-shapes-png-524001.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sign-up-content .content-bottom,
.log-in-content .content-bottom,
.certificate-content .content-bottom,
.certificate-send-content .content-bottom {
  background: white;
}

.sign-up-content .content-bottom label,
.sign-up-content .content-bottom input,
.log-in-content .content-bottom label,
.log-in-content .content-bottom input,
.certificate-content .content-bottom label,
.certificate-content .content-bottom input,
.certificate-send-content .content-bottom label,
.certificate-send-content .content-bottom input {
  cursor: pointer;
}
/*  */
.log-in-cancel-btn-wrap a,
.sign-up-cancel-btn-wrap a,
.certificate-cancel-btn-wrap a {
  transition: 0.15s;
}

.log-in-cancel-btn-wrap a:hover,
.sign-up-cancel-btn-wrap a:hover,
.certificate-cancel-btn-wrap a:hover {
  transform: scale(0.97);
}
/*  */
/*  */
.product-hover-menu-wrap {
  top: 145px;
  padding-top: 8.41px;
  display: none;
  z-index: 9999;
}

.product-hover-menu ul li a {
  color: black;
  font-size: 12px;
}
/*  */

.horizon-line-sm {
  background-color: white;
  width: 100px;
  height: 3px;
  z-index: 1;
}

.horizon-line-sm::before {
  content: '';
  position: absolute;
  background-color: #353c1d;
  width: calc(50vw - 50px);
  height: 3px;
  right: 100px;
  z-index: -1;
}

.horizon-line-sm::after {
  content: '';
  position: absolute;
  background-color: #353c1d;
  width: calc(50vw - 50px);
  height: 3px;
  left: 100px;
  z-index: -1;
}
@media (min-width: 992px) {
  .horizon-line-sm {
    background-color: white;
    width: 300px;
    height: 3px;
    z-index: 1;
  }

  .horizon-line-sm::before {
    content: '';
    position: absolute;
    background-color: #353c1d;
    width: calc(50vw - 150px);
    height: 3px;
    right: 300px;
    z-index: -1;
  }

  .horizon-line-sm::after {
    content: '';
    position: absolute;
    background-color: #353c1d;
    width: calc(50vw - 150px);
    height: 3px;
    left: 300px;
    z-index: -1;
  }
}
/*  */

.newsTitle {
  color: #ffaa22;
  font-size: 1em;
  margin-bottom: 1.5em;
  text-align: center;
  font-weight: 600;
  line-height: 8;
}

.newsTitle span {
  display: block;
  font-size: 1.5em;
  color: black;
  position: relative;
}

.newsTitle span:before,
.newsTitle span:after {
  content: '';
  position: absolute;
  top: 50%;
  background: black;
  width: 40%;
  height: 3px;
}
.newsTitle span:before {
  left: 0%;
}
.newsTitle span:after {
  right: 0%;
}
.newsLetter-Spacing {
  letter-spacing: 23px;
}
@media (min-width: 1px) {
  /* container-width = 540px */
  .main-header .photo-mask {
    /* left: -630px; */
    border-radius: none;
  }
}

.newsBg-cover {
  background-size: cover;
  background-position: center center;
}

.newsBox {
  height: 50vh;
  display: block;
}
.newsRow {
  height: 100vh;
  display: block;
}
.newsImageBox {
  height: 100vw;
  width: 100vw;
}
.newsImageMain1 {
  /* background-image: url('../images/新聞頁/文章頁-主視覺/news1.jpg'); */
  cursor: pointer;
  box-sizing: border-box;
}
.newsImageMain2 {
  /* background-image: url('../images/新聞頁/文章頁-主視覺/news2.jpg'); */
  cursor: pointer;
  box-sizing: border-box;
  background-position: center;
}
.newsImageMain3 {
  /* background-image: url('../images/新聞頁/文章頁-主視覺/news3.jpg'); */
  cursor: pointer;
  box-sizing: border-box;
}

.newsImageMain4 {
  /* background-image: url('../images/新聞頁/文章頁-主視覺/news4.jpg'); */
  cursor: pointer;
  box-sizing: border-box;
}
.newsImageMain5 {
  /* background-image: url('../images/新聞頁/文章頁-主視覺/news5.jpg'); */
  cursor: pointer;
  box-sizing: border-box;
}
.newsImageMain6 {
  /* background-image: url('../images/新聞頁/文章頁-主視覺/news6.jpg'); */
  cursor: pointer;
  box-sizing: border-box;
}

.newsImageMain7 {
  /* background-image: url('../images/新聞頁/文章頁-主視覺/news7.jpg'); */
  cursor: pointer;
  box-sizing: border-box;
}

.newsImageMain8 {
  /* background-image: url('../images/新聞頁/文章頁-主視覺/news8.jpg'); */
  cursor: pointer;
  box-sizing: border-box;
}
.newsImageMain9 {
  /* background-image: url('../images/新聞頁/文章頁-主視覺/news9.jpg'); */
  cursor: pointer;
  box-sizing: border-box;
}

.newsBig-pic-mask {
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;

  position: relative;
}
.newsBig-pic-text {
  position: absolute;
  left: 16px;
  bottom: 70px;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.newsBig-pic-text2 {
  position: absolute;
  left: 16px;
  bottom: 50px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.newsBig-pic-text3 {
  position: absolute;
  left: 16px;
  bottom: 50px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.newsBig-pic-text-sm {
  position: absolute;
  left: 16px;
  bottom: 18px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.justify-content-between .card .row .d-flex .img-fluid {
  height: 179px;
  background-size: cover;
  background-position: center center;
}
.news-small-cover-image {
  width: 100%;
  height: 179px;
  object-fit: cover;
}

.breadcrumb {
  font-size: 14px;
  background-color: white;
  font-weight: 700;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}

.breadcrumb a {
  color: #353c1d;
}

/*  */
/*  */

.dropdown a {
  color: #353c1d;
  font-size: 14px;
  font-weight: 700;
}

.dropdown a img {
  transform: rotate(-90deg);
  width: 30px;
  position: relative;
  top: -5.5px;
}

.dropdown .sort-ul-wrap {
  background-color: white;
  border: 1px solid #353c1d;
  z-index: 1;
  top: 55px;
  text-align: center;
}

.dropdown .sort-ul-wrap::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: white;
  border-left: 1px solid #353c1d;
  border-top: 1px solid #353c1d;
  z-index: 999;
  position: absolute;
  transform: rotate(45deg);
  top: -8px;
  right: 23px;
}
.dropdown .sort-ul-wrap {
  left: 0px;
}
.sort-ul {
  width: 120px;
}

.dropdown .sort-ul-wrap a {
  font-weight: 700;
}

/*  */

.news-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.news-content {
  background-color: white;
  max-width: 960px;
}
.news-content .close-button {
  top: 30px;
  right: 30px;
  font-size: 12px;
  color: black;
}

/*  */
.newsBorder {
  border-color: #bebebe;
}

.newsCard-text-link {
  color: #d9b300;
}

.news-card-body-text {
  height: 75%;
  overflow: hidden;
}
.news-card-body-link {
  height: 25%;
  padding: 1.25rem;
}

.news-article {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.card {
  border: none !important;
}
/* .newsPage {
  display: flex;
  justify-content: center;
}

.newsPage-current-link {
  background-color: black;
  color: white;
}

.newsPage-previous-next-link {
  background-color: black;
  color: white;
} */
/*  */

.page-select .page-previous {
  border: 1px solid #353c1d;
  color: white;
  background-color: #353c1d;
  width: 120px;
  height: 35px;
  line-height: 32px;
  transition: 0.15s;
}

.page-select .page-previous img {
  width: 25px;
  position: relative;
  top: 2.5px;
}

.page-select .page-number {
  border: 1px solid #353c1d;
  color: #353c1d;
  width: 35px;
  height: 35px;
  line-height: 32px;
  transition: 0.15s;
}

.page-select .page-number:hover {
  background-color: #353c1d;
  color: white;
}

.page-select .page-next {
  border: 1px solid #353c1d;
  color: white;
  background-color: #353c1d;
  width: 120px;
  height: 35px;
  line-height: 32px;
  transition: 0.15s;
}

.page-select .page-next img {
  width: 25px;
  position: relative;
  top: -2.5px;
  transform: rotate(180deg);
}

.main-content .page-select .page-all:hover {
  background-color: #353c1d;
  color: white;
}
/*  */
/* go-top */
.go-top {
  bottom: 30px;
  right: 30px;
  transition: 0.15s;
}

.go-top:hover {
  transform: scale(0.97);
}
.go-top i {
  color: white;
  font-size: 20px;
  width: 35px;
  height: 35px;
  background-color: #f37022;
  border-radius: 50%;
  line-height: 35px;
}

.go-top span {
  color: black;
  font-style: italic;
  font-weight: 800;
}
@media (min-width: 768px) {
  .go-top {
    bottom: 30px;
    right: 30px;
  }

  .go-top i {
    color: white;
    font-size: 20px;
    width: 55px;
    height: 55px;
    background-color: #f37022;
    border-radius: 50%;
    line-height: 55px;
  }

  .go-top span {
    color: black;
    font-style: italic;
    font-weight: 800;
  }
}

/* footer */
.main-footer {
  background-color: #353c1d;
}

.main-footer .footer-content {
  padding: 48px 0 48px 0;
}
@media (min-width: 768px) {
  .main-footer .footer-content {
    padding: 180px 0 180px 0;
  }
}

.main-footer .footer-slogan h2 {
  font-weight: 800;
  font-style: italic;
  font-size: 26px;
  color: rgba(255, 255, 255, 1);
}
@media (min-width: 768px) {
  .main-footer .footer-slogan h2 {
    font-weight: 800;
    font-style: italic;
    font-size: 46px;
    color: rgba(255, 255, 255, 1);
  }
}
.main-footer .footer-contact li {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}

.main-footer .footer-contact li a {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}

/* .main-footer .footer-icon li a {
  /* font-size: 22px; */

.main-footer .footer-copyright {
  font-size: 12px;
  color: rgba(255, 255, 255, 1);
}
